h1 {
  font: 5vmin florence;
  padding: 1vh 0 0 1vw;
}

#group-shots {
  height: 55vmin;
  min-height: 500px;
  margin-bottom: 13vh;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background: rgba(200, 200, 200, 0.5);
}

.group-shot {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#lindsay-ian {
  margin-top: -7vh;
}

#charlie-megan {
  margin-top: -9vh;
}

#jake-lindsay-charlie {
  margin-top: -10vh;
}

#zack-gondola {
  margin-top: -10vh;
}

#aurora-lindsay-angela {
  margin-top: -4vh;
}

#sabrina-katy {
  margin-top: -8vh;
}

#charlie-mac-siblings {
  margin-top: -17vh;
}

.group-shot-img {
  display: block;
  max-height: 125%;
  max-width: 100%;
  margin: auto;
  z-index: 0;
}

.group-shot-img-container {
  display: block;
  min-width: 80%;
  max-height: 100%;
  margin: auto;
}

.group-shot-img-container img {
  width: 80%;
}

#group-selector {
  position: absolute;
  z-index: 3;
  bottom: 1%;
  width: 30%;
  margin: 0 35%;
  padding: 0;
}

.group-selector-elem {
  background: #777;
  display: inline-block;
  border-radius: 100%;
  width: 1vmin;
  height: 1vmin;
  z-index: 3;
}

.group-selector-elem:hover {
  cursor: pointer;
}

.img-desc-div {
  padding: 0;
  position: absolute;
  z-index: 3;
  bottom: 0%;
  width: 60%;
  right: 0%;
  text-align: right;
  margin-right: 11%;
}

.img-desc-text {
  display: inline-block;
  font: 3vmin dinot-bold, sans-serif;
  color: #fff;
  padding: 0 1vw;
  background: rgba(40, 40, 40, 0.4);
}

.active {
  background: #ddd;
}

.bridesmaid, .groomsman {
  display: inline-block;
  margin: 1vh 4%;
  padding: 0;
  width: 40%;
  height: 100%;
  vertical-align: top;
}

.bridal-row {
  width: 100%;
}

#last-groomsman {
  width: 100%;
  min-height: 80vh;
}

#last-bridesmaid {
  width: 100%;
}

.groomsman.last, .bridesmaid.last {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bridesmaid img, .groomsman img {
  border-radius: 50%;
  width: 15vmin;
  height: 15vmin;
  float: left;
  margin-right: 2vmin;
}

.bridesmaid p, .groomsman p {
  font: 2.4vh dinot, sans-serif;
  font-weight: 500;
  color: rgb(11, 42, 91);
  margin: 0;
  line-height: 3.5vmin;
}

.bridesmaid-name, .groomsman-name {
  font: 4vmin dinot-bold, sans-serif;
  line-height; 6vh;
  padding: 0;
}

#bridesmaids-header, #groomsmen-header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
