h1 {
  font: 5vmin florence;
  padding: 1vh 0 0 1vw;
}

#group-shots {
  height: 65vh;
  margin-bottom: 18vh;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background: rgba(200, 200, 200, 0.5);
}

.group-shot {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.group-shot img {
  display: block;
  max-height: 150%;
  max-width: 150%;
  margin: 0 auto;
  margin-top: -15%;
  z-index: 0;
}

#group-selector {
  position: absolute;
  z-index: 3;
  bottom: 1%;
  width: 30%;
  margin: 0 35%;
  padding: 0;
}

.group-selector-elem {
  background: #777;
  display: inline-block;
  border-radius: 100%;
  width: 1vmin;
  height: 1vmin;
  z-index: 3;
}

.group-selector-elem:hover {
  cursor: pointer;
}

.active {
  background: #ddd;
}

.bridesmaid, .groomsman {
  display: inline-block;
  margin: 1vh 4%;
  padding: 0;
  width: 40%;
  height: 100%;
  vertical-align: top;
}

.bridal-row {
  width: 100%;
  height: 45vh;
}

#last-groomsman {
  width: 100%;
  min-height: 80vh;
}

#last-bridesmaid {
  width: 100%;
}

.groomsman.last, .bridesmaid.last {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bridesmaid img, .groomsman img {
  border-radius: 50%;
  width: 15vmin;
  height: 15vmin;
  float: left;
  margin-right: 2vmin;
}

.bridesmaid p, .groomsman p {
  font: 2.4vmin dinot-light, sans-serif;
  font-weight: 500;
  color: rgb(11, 42, 91);
  margin: 0;
  line-height: 3.5vmin;
}

.bridesmaid-name, .groomsman-name {
  font: 4vmin rockeby;
  line-height; 6vh;
  padding: 0;
}

#bridesmaids-header, #groomsmen-header {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
