#header {
  height: 12vh;
}

h1 {
  font: 5vmin dinot-light;
  padding: 1vh 0 0 1vw;
}

#page-menu {
  height: 5vh;
  margin: 0 5vw;
  border-bottom: 2px solid #666;
  padding: 0;
}

#page-menu li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0 1vw;
  padding-top: 1vh;
  margin-bottom: 1vh;
  font: 3.6vmin florence;
}

#page-menu li:hover {
  cursor: pointer;
  color: #fff;
}

.active-section {
  color: #fff;
  border-bottom: 6px solid #fff;
}

#sections {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 86vh;
}
