@font-face {
  font-family: fortunates;
  src: url('fonts/Fortunates-December.ttf');
}

@font-face {
  font-family: abel;
  src: url('fonts/Abel-Regular.ttf');
}

#title {
  font: 80px fortunates;
  text-align: center;
  margin-top: 5vh;
}

#content: {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#wrapper: {
  text-align: center !important;
  width: 100%;
  height: 100%;
}

#name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80vw;
  font: 52px abel;
  position: relative;
  left: 50%;
  margin-left: -40vw;
}

ul {
  margin: 0;
  padding: 0;
}

.result {
  position: relative;
  width: 79vw;
  left: 50%;
  margin-left: -40vw;
  background: #f7f7f7;
  font: 52px abel;
  line-height: normal;
  list-style-type: none;
  display: block;
  padding: 0;
  padding-left: 0px;
  border: 1px solid #eee;
  line-height: 70px;
  padding-left: 1vw;
}

.table-link {
  color: #555;
}

body {
  background: #ddd;
  width: 100%;
  height: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

