{% extends 'menu_bar.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/bridal-party.css" type="text/css">
  <script src="static/bridal-party.js" type=text/javascript></script>
{% endblock %}
{% block content %}
  {% block header %}
    {{ super() }}
    <ul id='page-menu'>
      <li id='group-link' class='menu-selector active-section'>GROUP PHOTOS</li>
      <li id='bridesmaids-link' class='menu-selector'>BRIDESMAIDS</li>
      <li id='groomsman-link'class='menu-selector'>GROOMSMEN</li>
    </ul>
  {% endblock %}
  <div id='sections'>
    <div id='group-shots'>
      <ul id='group-selector' class='selector'>
        <li id='group-0-li' class='group-selector-elem active' group-num=0></li>
        <li id='group-1-li' class='group-selector-elem' group-num=1></li>
        <li id='group-2-li' class='group-selector-elem' group-num=2></li>
        <li id='group-3-li' class='group-selector-elem' group-num=3></li>
        <li id='group-4-li' class='group-selector-elem' group-num=4></li>
      </ul>
      <div id='group-0' class='group-shot'>
        <img src="static/images/group-bridge.jpg" alt='group photo on bridge'/>
      </div>
      <div id='group-1' class='group-shot hidden'>
        <img src='static/images/zack-and-anshul.jpg' alt='Zack and Anshul' />
      </div>
      <div id='group-2' class='group-shot hidden'>
        <img src="static/images/swanson-siblings-xmas.jpg" alt='The swanson siblings'/>
      </div>
      <div id='group-3' class='group-shot hidden'>
        <img src='static/images/katie_lindsay_prom.jpg' alt='Katie and Lindsay' />
      </div>
      <div id='group-4' class='group-shot hidden'>
        <img src='static/images/wigle-whiskey.jpg' alt='group photo at wigle whiskey' />
      </div>
    </div>
    <div id='bridesmaids'>
      <h1 id='bridesmaids-header'>───── BRIDESMAIDS ─────</h1>
      <div id='bridesmaid-1' class='bridesmaid'>
        <img src="static/images/megan.jpg" alt='Megan MacGillivray'/>
        <h2 class='bridesmaid-name'>Megan MacGillivray</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='bridesmaid-2' class='bridesmaid'>
        <img src='static/images/anna.jpg' alt='Anna Swanson' />
        <h2 class='bridesmaid-name'>Anna Swanson</h2>
        <p>Some text about Anna. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='bridesmaid-3' class='bridesmaid'>
        <img src="static/images/katie.jpg" alt='Katie Russel'/>
        <h2 class='bridesmaid-name'>Katie Russel</h2>
        <p>Some text about Katie. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='bridesmaid-4' class='bridesmaid'>
        <img src='static/images/katy.jpg' alt='Katy Marino' />
        <h2 class='bridesmaid-name'>Katy Marino</h2>
        <p>Some text about Katy. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='bridesmaid-5' class='bridesmaid'>
        <img src='static/images/sabrina.jpg' alt='Sabrina Larkin' />
        <h2 class='bridesmaid-name'>Sabrina Larkin</h2>
        <p>Some text about Sabrina. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='bridesmaid-6' class='bridesmaid'>
        <img src='static/images/aurora.jpg' alt='Aurora Parlagrec' />
        <h2 class='bridesmaid-name'>Aurora Parlagrec</h2>
        <p>Some text about Aurora. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='last-bridesmaid'>
        <div id='bridesmaid-7' class='bridesmaid last'>
          <img src='static/images/olivia.jpg' alt='Olivia Bello' />
          <h2 class='bridesmaid-name'>Olivia Bello</h2>
          <p>Some text about Olivia. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
        </div>
      </div>
    <div id='groomsmen'>
      <h1 id='groomsmen-header'>───── GROOMSMEN ─────</h1>
      <div id='groomsman-1' class='groomsman'>
        <img src='static/images/noel.jpg' alt='Noel Swanson' />
        <h2 class='groosman-name'>Noel Swanson</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='groomsman-2' class='groomsman'>
        <img src='static/images/ian.jpg' alt='Ian MacGillivray' />
        <h2 class='groosman-name'>Ian MacGillivray</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='groomsman-3' class='groomsman'>
        <img src="static/images/jake.jpg" alt='Jake Deitrich'/>
        <h2 class='groosman-name'>Jake Deitrich</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='groomsman-4' class='groomsman'>
        <img src='static/images/zack.jpg' alt='Zack Urbach' />
        <h2 class='groosman-name'>Zack Urbach</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='groomsman-5' class='groomsman'>
        <img src='static/images/anshul.jpg' alt='Anshul Dhankher' />
        <h2 class='groosman-name'>Anshul Dhankher</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='groomsman-6' class='groomsman'>
        <img src='static/images/kyle.jpg' alt='Kyle Landau' />
        <h2 class='groosman-name'>Kyle Landau</h2>
        <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
      </div>
      <div id='last-groosman'>
        <div id='groomsman-7' class='groomsman last'>
          <img src='static/images/alex.jpg' alt='Alex Smith' />
          <h2 class='groosman-name'>Alex Smith</h2>
          <p>Some text about Megan. Blah blah lorem ipsem and what not. The quick brown fox jumped over the lazy dog.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
