{% extends 'sectioned_content.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/bridal-party.css" type="text/css">
  <script src="static/bridal-party.js" type=text/javascript></script>
{% endblock %}
{% block section_links %}
  <li id='section-link-1'>GROUP PHOTOS</li>
  <li id='section-link-2'>BRIDESMAIDS</li>
  <li id='section-link-3'>GROOMSMEN</li>
{% endblock %}
{% block sections %}
  <div id='section-1'>
    <div id='group-shots'>
      <ul id='group-selector' class='selector'>
        <li id='group-0-li' class='group-selector-elem active' group-num=0></li>
        <li id='group-1-li' class='group-selector-elem' group-num=1></li>
        <li id='group-2-li' class='group-selector-elem' group-num=2></li>
        <li id='group-3-li' class='group-selector-elem' group-num=3></li>
        <li id='group-4-li' class='group-selector-elem' group-num=4></li>
        <li id='group-5-li' class='group-selector-elem' group-num=5></li>
        <li id='group-6-li' class='group-selector-elem' group-num=6></li>
        <li id='group-7-li' class='group-selector-elem' group-num=7></li>
        <li id='group-8-li' class='group-selector-elem' group-num=8></li>
        <li id='group-9-li' class='group-selector-elem' group-num=9></li>
        <li id='group-10-li' class='group-selector-elem' group-num=10></li>
      </ul>
      <div id='group-0' class='group-shot'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/sabrina-zack-anshul.jpg' alt='Sabrina, Zack and Anshul' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Sabrina, Zack, and Anshul take a break after tearing up the dance floor to celebrate New Years.</p>
          </div>
        </div>
      </div>
      <div id='group-1' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src="static/images/charlie-megan.jpg" id='charlie-megan' alt='Charlie and Megan in Bermuda'/>
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Charlie and Megan in Bermuda.</p>
          </div>
        </div>
      </div>
      <div id='group-2' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src="static/images/macgillivray-siblings-plus-charlie.jpg"
                 id='charlie-mac-siblings' alt='Charlie with the MacGillivrays in their new pajamas
                 on Christmas eve.'/>
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Charlie with the MacGillivrays in their new pajamas on Christmas eve.</p>
          </div>
        </div>
      </div>
      <div id='group-3' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/lindsay-ian.jpg' id='lindsay-ian' alt='Lindsay and Ian' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Lindsay and Ian bring their snack for a walk.</p>
          </div>
        </div>
      </div>
      <div id='group-4' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src="static/images/noel-anna.jpg" alt='Noel and Anna'/>
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Noel and Anna killing it at the annual Swanson lip-sync battle
            during Thanksgiving.</p>
          </div>
        </div>
      </div>
      <div id='group-5' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/jake-lindsay-charlie.jpg' id='jake-lindsay-charlie' alt='Jake, Lindsay and Charlie' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Jake, Lindsay and Charlie celebrate good times with some
            Champagne.</p>
          </div>
        </div>
      </div>
      <div id='group-6' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/zack-gondola.jpg' id='zack-gondola' alt='Zack pondering in a gondola' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Zack reconsiders whether sledding down this mountain was really
            a good idea.</p>
          </div>
        </div>
      </div>
      <div id='group-7' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/kyle-waffles-olivia.jpg' alt='Kyle, Mr. Waffles, and Olivia' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Kyle, Mr. Waffles, and Olivia living the good life.</p>
          </div>
        </div>
      </div>
      <div id='group-8' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/aurora-lindsay-angela.jpg' id='aurora-lindsay-angela' alt='Aurora, Lindsay, and Angela' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Lindsay and Aurora welcome Angela into their Tri-Delta
            sorority.</p>
          </div>
        </div>
      </div>
      <div id='group-9' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/sabrina-katy.jpg' id='sabrina-katy' alt='Sabrina and Katy' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Sabrina and Katy getting ready to ring in the new year.</p>
          </div>
        </div>
      </div>
      <div id='group-10' class='group-shot hidden'>
        <div class='group-shot-img'>
          <div class='group-shot-img-container'>
            <img src='static/images/group-bridge.jpg' alt='The crew on a bridge' />
          </div>
          <div class='img-desc-div'>
            <p class='img-desc-text'>Anshul, Sabrina, Zack, Charlie and Lindsay posing after
            completing a hike.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='section-2' class='bridesmaids'>
    <h1 id='bridesmaids-header'>───── BRIDESMAIDS ─────</h1>
    <div class='bridal-row'>
      <div id='bridesmaid-1' class='bridesmaid'>
        <img src="static/images/megan.jpg" alt='Megan MacGillivray'/>
        <h2 class='bridesmaid-name'>Megan MacGillivray</h2>
        <p>The Maid of Honor! Linday's younger sister Megan lives in Pittsburgh and is pursuing
        her masters in Mental Rehabilitation Health at Pitt University after earning her
        undergraduate degree there in Psychology. Megan is a fantastic Frisbee player, and helped
        get Pitt's team to Nationals 3 years in a row!</p>
      </div>
      <div id='bridesmaid-2' class='bridesmaid'>
        <img src='static/images/anna.jpg' alt='Anna Swanson' />
        <h2 class='bridesmaid-name'>Anna Swanson</h2>
        <p>Charlie's older sister Anna and her adorable dog Chicory live in Glouchester, MA where
        she helps manage the Backyard Grower's program. She and her team help schools start their
        own gardens, help families start a backyard garden, and work to incorporate local
        (sometimes home-grown!) food into the school lunches.</p>
      </div>
    </div>
    <div class='bridal-row'>
      <div id='bridesmaid-3' class='bridesmaid'>
        <img src="static/images/katie.jpg" alt='Katie Russel'/>
        <h2 class='bridesmaid-name'>Katie Russel</h2>
        <p>Katie and Lindsay have been friends since their middle school years at Molly Ockett in
        Fryeburg, Maine. Katie graduated from Rensselaer Polytechnic Institute in 2014 and now lives
        with her Fiancé Paul in Seattle. Lindsay and Katie have gone from homecoming dress shopping
        to wedding dress shopping together! Katie now works as a consultant at Deloitte, and helps coach a
        local youth ski team.</p>
      </div>
      <div id='bridesmaid-4' class='bridesmaid'>
        <img src='static/images/katy.jpg' alt='Katy Marino' />
        <h2 class='bridesmaid-name'>Katy Marino</h2>
        <p>Katy was a student at Carnegie Mellon with Charlie and Lindsay where they became good
        friends. She now lives in New York City where she works at Fradkin McAlpin Architects. Katy
        helps Lindsay and Charlie scout their way around the city looking for exciting places to
        eat and drink.</p>
      </div>
    </div>
    <div class='bridal-row'>
      <div id='bridesmaid-5' class='bridesmaid'>
        <img src='static/images/sabrina.jpg' alt='Sabrina Larkin' />
        <h2 class='bridesmaid-name'>Sabrina Larkin</h2>
        <p>Sabrina and Lindsay were classmates in their freshman Chemical Engineering classes. They
        got to know each other well while working together organizing Alternative Spring Break (a
        community service trip) at Carnegie Mellon and were friends ever since. Sabrina got her
        degree in Chemical Engineering, and now lives in Boston where she works as a chemical
        engineer at YYY?</p>
      </div>
      <div id='bridesmaid-6' class='bridesmaid'>
        <img src='static/images/aurora.jpg' alt='Aurora Parlagrec' />
        <h2 class='bridesmaid-name'>Aurora Parlagrec</h2>
        <p>Aurora was Lindsay's big sister during her years at Delta Delta Delta at Carnegie
        Mellon. She got to hear all about Charlie when he was still just Lindsay's crush, and
        offered superb romantic advice. She now lives in Brooklyn and works designing book covers at
        Harper Collins. You might recognize some of her work on young adult fiction covers such as
        the New York Times' Best-Seller <i>Dumpling</i>.</p>
      </div>
    </div>
    <div class='bridal-row'>
      <div id='last-bridesmaid'>
        <div id='bridesmaid-7' class='bridesmaid last'>
          <img src='static/images/olivia.jpg' alt='Olivia Bello' />
          <h2 class='bridesmaid-name'>Olivia Bello</h2>
          <p>Olivia met Lindsay when she decided to join Teach For America after studying
          Biology at Agnes Scott College in Atlanta. She and Lindsay were classmates while
          pursuing their masters of education, and she and her boyfriend Kyle now live in Inwood
          with Lindsay and Charlie. She is the head of the science department and teaches eighth
          grade science at Kappa III School in the Bronx, and is helping the Billion Oyster Project
          restore oyster colonies around the New York harbor.</p>
        </div>
      </div>
    </div>
  </div>
  <div id='section-3' class='groomsmen'>
    <h1 id='groomsmen-header'>───── GROOMSMEN ─────</h1>
    <div class='bridal-row'>
      <div id='groomsman-1' class='groomsman'>
        <img src='static/images/noel.jpg' alt='Noel Swanson' />
        <h2 class='groomsman-name'>Noel Swanson</h2>
        <p>The best man! Charlie's younger brother Noel moved to Santa Monica, CA in 2016 to work
        in solar development at Cyprus Creek Renewables after graduating from Johns Hopkins with a
        degree in environmental science. He's known to post photos of trees to instagram.</p>
      </div>
      <div id='groomsman-2' class='groomsman'>
        <img src='static/images/ian.jpg' alt='Ian MacGillivray' />
        <h2 class='groomsman-name'>Ian MacGillivray</h2>
        <p>Lindsay's younger brother Ian is a sophomore at Yarmouth High School in Yarmouth, ME.
        He loves performing in the school's fantastic plays and musicals, reads more books than
        you could imagine, and loves building things, like a hydroponic system where fish and
        plants feed each other.</p>
      </div>
    </div>
    <div class='bridal-row'>
      <div id='groomsman-3' class='groomsman'>
        <img src="static/images/jake.jpg" alt='Jake Deitrich'/>
        <h2 class='groomsman-name'>Jake Deitrich</h2>
        <p>Jake was born as Charlie's best friend, and they spent many of their summers causing
        trouble at their neighboring lake houses in the Poconoes. Jake graduated from Hobart
        College with a degree in Political Science, and now works as an Admissions Counselor for
        Syracuse University.</p>
      </div>
      <div id='groomsman-4' class='groomsman'>
        <img src='static/images/zack.jpg' alt='Zack Urbach' />
        <h2 class='groomsman-name'>Zack Urbach</h2>
        <p>Zack and Charlie were randomly paired as roommates during their freshman year at Carnegie
        Mellon, and hit it off so well that they lived together all four years! Zack graduated with
        a degree in Chemistry, and is now pursuing his PhD at Northwestern University after spending
        an intermediate 9 months doing Materials Science research in Mainz, Germany.</p>
      </div>
    </div>
    <div class='bridal-row'>
      <div id='groomsman-5' class='groomsman'>
        <img src='static/images/anshul.jpg' alt='Anshul Dhankher' />
        <h2 class='groomsman-name'>Anshul Dhankher</h2>
        <p>Anshul became friends with Lindsay during their freshman writing seminar at Carnegie
        Mellon, and became friends with Charlie soon after. He is a dedicated New England sports
        fan, and is famous for the great Carnival comeback of 2014. He worked two years as a
        biomedical engineer at Abbvie after graduating, and is now back in academia pursuing his PhD
        at Georgia Tech.</p>
      </div>
      <div id='groomsman-6' class='groomsman'>
        <img src='static/images/alex.jpg' alt='Alex Smith' />
        <h2 class='groomsman-name'>Alex Smith</h2>
        <p>Alex lived across from Charlie and Zack their freshman year of college, and always
        beat Charlie at tennis but lost in squash. Alex graduated with a degree in Business and a
        minor in computer science. He now works as a software engineer at Applied Predictive
        Technologies in Washington, D.C.</p>
      </div>
    </div>
    <div class='bridal-row'>
      <div id='last-groomsman'>
        <div id='groomsman-7' class='groomsman last'>
          <img src='static/images/kyle.jpg' alt='Kyle Landau' />
          <h2 class='groomsman-name'>Kyle Landau</h2>
          <p>Kyle moved in with Olivia, Charlie and Lindsay after getting his degree in
          Architecture from Cal Poly, San Luis Obispo. He works as an Architect for SOAP in
          Brooklyn, and spends some of his time brewing the finest coffee in Inwood at Darling
          Coffee. He has strong opinions about chairs and is known to spoil Mr. Waffles with
          leftover turkey.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
