{% extends 'layout.html' %}
{% block content %}
<div id='map'>
  <img id='states' src='static/images/states.png' alt='states-map'/>
  <div id='title'>
    <h1>CHARLIE &amp; LINDSAY</h1>
    <h2>- SEP 23, 2017 -</h2>
    <div id='menu'>
      <ul id='menu-list'>
        <li class='menu-item' id='rsvp-li'>
          <a class='menu-link' href='https://docs.google.com/forms/u/0/d/e/1FAIpQLScuTMl86sk5_G5pKd0TbIvyJBgHlW_BS7GbY9dvI5mJRx55oQ/viewform?usp=sf_link'>RSVP</a>
        </li>
        <li class='menu-item' id='cmu-li'>
          <a class='menu-link' href={{ url_for('meeting') }}>HOW WE MET</a>
        </li>
        <li class='menu-item' id='wedding-li'>
          <a class='menu-link' href={{ url_for('wedding') }}>WEDDING WEEKEND</a>
        </li>
        <li class='menu-item' id='proposal-li'>
          <a class='menu-link' href={{ url_for('proposal') }}>PROPOSAL</a>
        </li>
        <li class='menu-item' id='things_todo-li'>
            <a class='menu-link' href={{ url_for('things_todo') }}>ACTIVITIES</a>
        </li>
        <li class='menu-item' id='registry-li'>
          <a class='menu-link'
            href='https://www.blueprintregistry.com/registry/Lindsay-Charlie'>REGISTRY</a>
        </li>
        <li class='menu-item' id='bridal-li'>
          <a class='menu-link'
            href={{ url_for('bridal_party') }}>BRIDAL PARTY</a>
        </li>
      </ul>
    </div>
  </div>
  <a href={{ url_for('meeting') }}>
    <img id='cmu' class='states-anchored' x=0.12 y=0.92 src='static/images/cmu.png' alt='cmu'/>
  </a>
  <a href={{ url_for('wedding') }}>
    <img id='wedding' class='states-anchored' x=0.68 y=0.42 src='static/images/wedding.png' alt='wedding'/>
  </a>
  <a href={{ url_for('proposal') }}>
    <img id='proposal' class='states-anchored' x=0.73 y=0.35 src='static/images/proposal.png' alt='proposal'/>
  </a>
  <a href='https://www.blueprintregistry.com/registry/Lindsay-Charlie'>
    <img id='registry' class='states-anchored' x=0.63 y=0.85 src='static/images/gifts.png' alt='registry'/>
  </a>
  <!-- Syracuse -->
  <img class='states-anchored bridal-party hidden' x=0.32 y=0.59 src='static/images/groomsman.png' alt='groomsman'/>

  <!-- Pittsburgh -->
  <img class='states-anchored bridal-party hidden' x=0.08 y=0.92 src='static/images/groomsman.png' alt='groomsman'/>
  <img class='states-anchored bridal-party hidden' x=0.13 y=0.91 src='static/images/bridesmaid.png' alt='bridesmaid'/>

  <!-- Boston -->
  <img class='states-anchored bridal-party hidden' x=0.73 y=0.53 src='static/images/bridesmaid.png' alt='bridesmaid'/>

  <!-- Glouchester -->
  <img class='states-anchored bridal-party hidden' x=0.79 y=0.50 src='static/images/bridesmaid.png' alt='bridesmaid'/>

  <!-- Fryeburg -->
  <img class='states-anchored bridal-party hidden' x=0.72 y=0.37 src='static/images/bridesmaid.png' alt='bridesmaid'/>

  <!-- Yarmouth -->
  <img class='states-anchored bridal-party hidden' x=0.77 y=0.40 src='static/images/groomsman.png' alt='groomsman'/>

  <!-- New York -->
  <img class='states-anchored bridal-party hidden' x=0.54 y=0.75 src='static/images/groomsman.png' alt='groomsman'/>
  <img class='states-anchored bridal-party hidden' x=0.60 y=0.74 src='static/images/bridesmaid.png' alt='bridesmaid'/>

  <!-- Philly -->
  <img class='states-anchored bridal-party hidden' x=0.45 y=0.83 src='static/images/groomsman.png' alt='groomsman'/>

</div>
{% endblock %}
