{% extends 'menu_bar.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/meeting.css" type="text/css">
  <script src="static/proposal.js" type=text/javascript></script>
{% endblock %}
{% block content %}
{{ super() }}
<div id='story-wrapper'>
  <div id='story'>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;After almost 4 years of dating, Charlie decided that he was ready to
    pop the question on Wednesday, December 21st, 2016. He called up his parents to make sure they
    were on the same page, to get some advice, and to calm his nerves. They of course thought it was
    a great idea, and offered some sage advice. Everyone was very excited, but the timing was not
    great. On Friday, Charlie would be traveling to Maine to spend the holiday with Lindsay's family
    in Maine. Everyone agreed it would be best to ask while in Maine, but he didn't have a ring
    yet, let alone a plan of action.
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;Lindsay had dropped some hints about what kind of ring she wanted, so
    Charlie had some idea of what to get, but basically no free time to get it before Friday. He
    didn't want to get screwed over waltzing in to some diamond store in NYC, so decided it was
    better to get a fake ring for the proposal, and pick one out with Lindsay after the proposal.
    He picked up this cute but obviously not engagement-level ring and prepared for the next big
    task: asking Lindsay's parents for their approval.
    <img id='fake-ring' class='inline-img' src='static/images/fake-ring.jpg' />
    &nbsp;&nbsp;&nbsp;&nbsp;Lindsay's parents would be driving down from Maine on Thursday afternoon
    to see a Broadway show before bringing them all up to Maine the next day. Ian was coming with
    them, and Megan was meeting everyone in the city on Thursday as well. So Charlie needed to
    figure out a way to talk to Terry and Sarah alone. This didn't go so well, since the family
    always traveled as a group. Eventually Charlie found himself waiting with Ian and Megan for
    Lindsay to finish work before they would drive the second car up. Terry and Sarah had left
    slightly earlier, since they were stopping to see their friends XX and YY on the way up. Charlie
    decided this was about as good of an opportunity as he would get, and time was of the essence,
    so he made some excuse to go outside, and called them up in the car as the drove out of the
    city.
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;They were of course thrilled to hear the news, and immediately started
    brainstorming ways to help with the proposal. They thought it would be difficult but possible to
    get a ring in Maine before asking, and they all agreed it would be best to have a real ring for
    the proposal if at all possible. So the two of them hatched a plan to help get a ring.
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;Everyone arrived in Maine on Friday night, December 23rd. Charlie
    wanted to ask before Christmas so as not to take away from the excitement of that holiday, and
    to minimize the stressful time of planning a secret proposal. That left only the next day to
    ask! Fortunately, Lindsay's parents were up to the challenge. They woke up early and scouted
    out some rings at a local jewelry store just down the road, and narrowed it to their three
    favorites. Charlie had no idea that this happened, but took the hint when he was asked to help
    Terry get the groceries and off they went to the jeweler. The rings were all beautiful, but it
    was hard to decide between the final two. Charlie sent some pictures to his Mom and Dad to get
    their opinion while they drove to the local Zales and Kay jewelers to make sure the prices were
    reasonable. They found the prices were great, and reached a decision on this ring, so sped
    through the grocery store and picked it up on the way home!
    <img id='ring' class='inline-img' src='static/images/ring.jpg' />
    &nbsp;&nbsp;&nbsp;&nbsp;At this point it was almost noon on the 24th, and Charlie was a nervous
    wreck. It had started to snow, so very soon after arriving back home, Charlie suggested that
    Mia (the dog) needed a walk, and with the help of Sarah managed to get Lindsay to join him
    without Ian or Megan as company. Sarah knew what was about to happen, and couldn't keep it a
    secret after they left. This turned out to work well, as Megan thought quick and immediately
    ran for her camera, got the zoom lens, and started tracking down the dog walkers.
    <img id='walking' class='inline-img' src='static/images/walking.jpg' />
    &nbsp;&nbsp;&nbsp;&nbsp;Charlie had wanted to walk down to the riverbank to ask the question,
    but the trail didn't go all the way there and Lindsay didn't think the trek was worth it with
    almost a foot of snow on the ground. After all - they were just walking the dog. Charlie
    started to panic, definitely lost concentration on the conversation, and tried to get her to
    walk into the nearby Christmas tree fields as a next-best proposal location. She didn't go for
    this either - thinking that footprints around the Christmas trees would be suspicious this time
    of year, so Charlie finally gave in and decided to do it right there next to the trail.
    <img id='proposal' class='inline-img' src='static/images/proposal.jpg' />
    &nbsp;&nbsp;&nbsp;&nbsp;Less than two hours after purchasing the ring, Lindsay and Charlie were
    an engaged couple! The whole family had of course witnessed the event, and came down to
    celebrate. Terry rode down on a snowmobile to pick them up, and everyone was very excited.
    Charlie was so relieved that she said yes, and the proposal was complete, without any major
    disasters.
    <img id='snowmobile' class='inline-img' src='static/images/snowmobile.jpg' />
    <img id='post-engagement' class='inline-img' src='static/images/post-engagement.jpg' />
  </div>
</div>
{% endblock %}
